ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: beige;
    font-size: 40px;

}
.active-link{
    color: red;
    font-weight: bold;
}